{% extends 'layout.html' %}
{% load static %}


{% block title %} Продукция {% endblock %}


{% block content %}

    {% block header %} id = "header_about" {% endblock %}

<div class="catalog_header">
    <div class="container">
        <div class="catalog_header__inner">
            <nav class="catalog_nav">
                <a class = "catalog_link" href="{% url 'dlya_tela' %}">Для тела</a>
                <a class = "catalog_link" href="{% url 'face' %}">Для лица</a>
                <a class = "catalog_link" href="{% url 'dlya_volos' %}">Для волос</a>
                <a class = "catalog_link" href="{% url 'skin_type' %}">По типу кожи</a>
                <a class = "catalog_link"  href="{% url 'catalog' %}">Все продукты</a>
            </nav>
        </div>
    </div>
</div>



<div class="catalog_content" {% block catalog_content %}  {% endblock %}>
    <div class="container">
        {% for pr in product %}
        <div class="catalog_products">
            <div class="catalog_unity">
                <div class="catalog_img">
                    <a href="{% url 'catalog_detail' pr.pk %}"><img src="{{ pr.image.url }}" ></a>
                </div>
                <div class="catalog_link">
                    <a href="{% url 'catalog_detail' pr.pk %}">{{ pr.name }}</a>
                </div>
                <div class="catalog_cost">
                    <p>{{ pr.cost }} руб</p>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="page_catalog">

                {% if is_paginated %}
                        {% if page_obj.has_previous %}
                                <a class='btn_page' href=?page=1'>First</a>
                                <a class='btn_page' href='?page={{ page_obj.previous_page_number }}'>Prev</a>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <a class='btn_page' href='?page={{ num }}'>{{ num }}</a>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                    <a class='btn_page' href='?page={{ num }}'>{{ num }}</a>
                                {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                                <a class='btn_page' href='?page={{ page_obj.next_page_number }}'>Next</a>
                                <a class='btn_page' href='?page={{ page_obj.paginator.num_pages }}'>Last</a>
                        {% endif %}
                {% endif %}

        </div>

    </div>
</div>





{% endblock %}

