{% extends 'layout.html' %}

{% block title %} О нас {% endblock %}


{% block content %}

    {% block header %} id = "header_about" {% endblock %}


<div class="about">
        <div class="container">
            <div class="about_inner">
                <div class="about_word">
                    <h1>О нас</h1>
                </div>
                <div class="about_text">
                    <h2><strong>EcoCosme — бренд натуральной косметики</strong></h2>
                    <br>
                    <p>Концепция бренда родилась в 2013 году из желания профессионально заниматься тем, что мы любим больше всего, и из нашего огромного любопытства. Мы увлечены наукой и очарованы миром природы. Каждый день мы ставим перед собой новые цели и доказываем, насколько действенной может быть косметика, оставаясь по-настоящему натуральной.</p>
                    <p>Задумываясь о том, какой должна быть наша продукция, и какими мы хотим видеть производственные процессы, мы сформулировали ценности EcoCosme:</p>
                    <br>
                    <h3>1 — Качество</h3>
                    <p><br>Мы ориентируемся на самые высокие стандарты качества и стараемся держаться в ценовой категории, доступной для всех. В этом нам помогает осознанный подход в ротации ингредиентов. Мы сотрудничаем и с крупными зарубежными поставщиками, и с небольшими местными фермерскими хозяйствами.</p>
                    <br>
                    <h3>2 — Уважение</h3>
                    <p><br>Мы считаем, что уважение должно являться главным краеугольным камнем всего, что мы делаем. Мы говорим об уважении в коллективе, уважении своих покупателей и уважении окружающего нас мира. Гармония невозможна без уважения.</p>
                    <br>
                    <h3>3 — Экологичность</h3>
                    <p><br>Мы организуем полностью раздельный сбор мусора на производстве, разрабатываем систему сбора использованной упаковки, и уже сейчас вы можете самостоятельно сдать в переработку упаковку от любого нашего продукта. Во всех формулах нашей косметики и подборе ингредиентов мы стараемся максимально соответствовать рекомендациям ECOCERT.</p>
                    <br>
                    <h3>4 — Этичность</h3>
                    <p><br>EcoCosme — веганская косметика. Мы не тестируем косметику на животных и не используем ингредиенты животного происхождения, включая мед и пчелиный воск.</p>
                    <br>
                    <h3>5 — Дизайн</h3>
                    <p><br>Мы много работаем над дизайном упаковок, потому что для нас очень важно, как продукция EcoCosme выглядит в интерьере или у вас в руках, и какие эмоции и ассоциации она вызывает.</p>
                    <br>
                    <h3>6 — Команда</h3>
                    <p><br>Наша команда формировалась на протяжении всего существования EcoCosme, и сейчас мы продолжаем расти. Сложно точно сказать, какими критериями мы руководствуемся, нанимая нового сотрудника. Наверное, в первую очередь это интерес к делу и схожие ценности, но одного этого недостаточно. Сплоченный коллектив принято сравнивать с семьей, но нам кажется, что мы больше похожи на дружный класс. Нам очень здорово вместе, мы поддерживаем и развиваем сильные стороны друг друга и относимся друг к другу с уважением и добротой.</p>


                </div>

            </div>
        </div>
 </div>


{% endblock %}