{% extends 'layout.html' %}



{% block title %} Доставка {% endblock %}



{% block content %}

    {% block header %} id = "header_about" {% endblock %}

<div class="contacts">
        <div class="container">
            <div class="contacts_inner">
                <div class="contacts_word">
                    <h1>Контакты</h1>
                </div>
                <div class="contacts_text">

                        <h2><strong>Как с нами связаться</strong></h2>
                        <p><br>Мы принимаем звонки и сообщения по телефону:<br>+375 29 204-82-00</p>
                        <p><h3>Оптовый отдел:</h3><br>Мы всегда рады сотрудничеству! <br>Чтобы запросить прайс, напишите, пожалуйста, о своем магазине нам на почту partner@ecocosme.store<br></p>
                        <p>Телефоны оптового отдела:&nbsp;<br>+375 29 536-80-39<br>+375 29 205-63-85</p>
                        <p><h3>Отдел закупок:</h3><br>Сырье: custom@ecocosme.store<br>Тара: rad@ecocosme.store</p>
                        <p><h3>Отдел маркетинга:</h3><br>marketing@ecocosme.store</p><br>
                        <h2><strong>График работы</strong></h2>
                        <p>С 10 до 18 с понедельника по пятницу мы рады ответить на ваши письма, сообщения и звонки.</p><br>
                        <h2><strong>Реквизиты</strong></h2>
                        <p>ООО ЭкоКосме<br>ОГРН: 313784711200048<br>ОКПО: 188285172<br>ИНН 782615623564<br>Банк Филиал «Санкт-Петербургский» АО «АЛЬФА-БАНК»<br>Р/С 40802810932320000379<br>К/С 30101810600000000786<br>БИК 044030786</p>


                </div>

            </div>
        </div>
    </div>


{% endblock %}